    .jumbotron {
        background-color: #da8949;
        /* da8949  0278f5aa*/
        color: #4B0082;
        margin-top: 50px;
    }
    /* si quiero personalizar el color del boton puedo usar esta clase */
    /* .btn {
    background-color: green;
} */
    
    body {
        background-color: rgb(251, 225, 203);
    }
    
    footer {
        padding: 10px 10px 0 10px;
        background-color: #da8949;
        /* da8949 */
        color: #000000;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .card-hotel {
        /*propiedad flex |  clex-basis */
        /* cuanto queremos que cresca nuestros elmentos |  de cuanto va a ser el ancho  */
        /* 1 significa que queremos que se mantenga exacta ; 2 queremos que cresca hasta el doble de ancho |  cual es el ancho definido*/
        flex: 1 200px;
        /* padding: 2px 0px 2px 0px; */
        /*top right bottom left*/
        margin-top: 20px;
        background-color: #da8949;
    }
    
    .card-title {
        color: #4B0082;
    }
    
    .btn-reserva {
        width: 100%;
        /* position: absolute; */
        border-radius: 0px;
    }
    
    .footer-addres-icon {
        padding-right: 10px;
    }
    /* .btn {
        background-color: #4B0082;
    } */
    
    .tab-content {
        padding-top: 10px;
    }