    .jumbotron {
        background-color: #0278f5aa;
        color: #000000;
        margin-top: 50px;
    }
    /* si quiero personalizar el color del boton puedo usar esta clase */
    /* .btn {
    background-color: green;
} */
    
    footer {
        padding: 10px 10px 0 10px;
        background-color: #0278f5aa;
        color: #000000;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    
    .card-hotel {
        /*propiedad flex |  clex-basis */
        /* cuanto queremos que cresca nuestros elmentos |  de cuanto va a ser el ancho  */
        /* 1 significa que queremos que se mantenga exacta ; 2 queremos que cresca hasta el doble de ancho |  cual es el ancho definido*/
        flex: 1 150px;
        padding: 2px 2px 2px 5px;
        /*top right bottom left*/
        margin-top: 20px;
    }
    
    .btn-reserva {
        width: 100%;
        /* position: absolute; */
    }